# What is multiple_linear_regression

* Multiple linear regression (MLR), also known simply as multiple regression, is a statistical technique that uses several explanatory variables to predict the outcome of a response variable.

* Multiple regression is an extension of linear (OLS) regression that uses just one explanatory variable.

* MLR is used extensively in econometrics and financial inference.

* Regression models are used to describe relationships between variables by fitting a line to the observed data. Regression allows you to estimate how a dependent variable changes as the independent variable(s) change.

* Multiple linear regression is used to estimate the relationship between two or more independent variables and one dependent variable. You can use multiple linear regression when you want to know:

* How strong the relationship is between two or more independent variables and one dependent variable (e.g. how rainfall, temperature, and amount of fertilizer added affect crop growth).

* The value of the dependent variable at a certain value of the independent variables (e.g. the expected yield of a crop at certain levels of rainfall, temperature, and fertilizer addition).

*---------------------------------------------------------------------------------------------------------

* Linear regression is one to one but Multiple regression is many to one relationship
* Adding more independent varaible to the model that doesnot mean that regression will give more better in fact it will be worse.This can be over fitting 
* Adding more independent variable will lead to multi colinerity.
* The idea of all independent variable to be co related with dependent variable not with each other.

In [1]:
#IMPORTING ALL THE LIBRARY
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:

#Reading the dataset
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
#Data  Preprocessing: Fill NA values with median value of a column
df_bedroom_median=df.bedrooms.median()

In [4]:
df.bedrooms=df.bedrooms.fillna(df_bedroom_median)

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
from sklearn import linear_model
reg=linear_model.LinearRegression()

In [7]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [8]:
reg.fit(X,y)

LinearRegression()

In [9]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [10]:
reg.intercept_

221323.00186540443

In [11]:
reg.predict([[5000,2,30]])

C:\Users\arabi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([731461.43447297])